/* == MEDIA QUERIES == */

/* == TABLETS == */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* == NAV == */

  .mobile-nav {
    display: block;
  }

  .mobile-nav-toggle svg {
    height: 35px;
    width: auto;
  }

  .mobile-nav-text a {
    font-size: 3.5rem;
  }

  .logo {
    margin-top: 50px;
    margin-left: 6rem;
  }

  .logo-nav {
    font-size: 2.25rem;
  }

  .primary-navigation {
    margin-right: 6rem;
  }

  .primary-navigation a {
    display: none;
  }

  .primary-navigation button {
    display: block;
    fill: #fff;
    width: 2rem;
    aspect-ratio: 1/1;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  /* == HERO == */

  .hero-home-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-menu-background-image {
    background-position: 82%;
    filter: brightness(60%);
  }

  .hero-about-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-text {
    padding-left: 6rem;
  }

  .hero-logo {
    font-size: 3rem;
    padding-bottom: 0.6rem;
  }

  .hero-message {
    margin-top: 16px;
    line-height: 4.25rem;
    letter-spacing: 0;
    font-size: 3.25rem;
  }

  .hero-button {
    padding-top: 3rem;
    font-size: 1.75rem;
  }

  .hero-button h6 {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
  }

  /* == GENERAL == */

  img {
    width: 100%;
    height: auto;
  }

  .body-container {
    padding: 0;
    padding-top: 16rem;
    align-items: center;
    margin: 0 18vw 0 18vw;
    gap: 12rem;
  }

  /* == OUR STORY == */

  .our-story {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    min-width: none;
  }

  /* == OUR MENU == */

  .our-menu {
    flex-direction: column-reverse;
    gap: 4rem;
    width: 100%;
    min-width: none;
  }

  /* == CONTACT ==  */

  .contact {
    flex-direction: column-reverse;
    width: 100%;
  }

  .contact-map {
    margin: 0;
  }

  .contact-map iframe {
    width: 100%;
  }

  .contact-text {
    align-items: center;
    padding: 5rem 0 5rem 0;
  }

  .contact-text-title {
    margin: 0;
  }

  .contact-text input,
  textarea {
    width: 250px;
  }

  .contact-text-form {
    margin: 0;
  }

  /* == SUBSCRIBE == */

  .subscribe {
    width: 100%;
  }

  .subscribe-container {
    width: 100%;
    padding: 0;
  }

  .subscribe-text {
    width: 100%;
    padding: 4rem 1rem;
  }

  .subscribe-text h1 {
    font-size: 2.25rem;
  }

  .subscribe-text p {
    font-size: 1rem;
  }
}

/* == PHONES == */

@media only screen and (max-width: 1749px) {
  .subscribe-image {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* == GENERAL == */

  .body-container {
    padding: 0;
    align-items: center;
    margin: 0 8vw 0 8vw;
    gap: 8rem;
  }

  /* == NAV == */

  .mobile-nav {
    display: block;
  }

  .logo {
    margin-left: 2.5rem;
  }

  .logo-nav {
    font-size: 1.75rem;
  }

  .primary-navigation {
    margin-right: 2.5rem;
  }

  .primary-navigation a {
    display: none;
  }

  .primary-navigation button {
    display: block;
    fill: #fff;
    width: 2rem;
    aspect-ratio: 1/1;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  /* == HERO == */

  .hero-home-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-menu-background-image {
    background-position: 75%;
    filter: brightness(60%);
  }

  .hero-about-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-text {
    padding-left: 2.5rem;
  }

  .hero-logo {
    font-size: 2.2rem;
    padding-bottom: 0.6rem;
  }

  .hero-message {
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
  }

  .hero-button {
    padding-top: 3rem;
    font-size: 1rem;
  }

  .hero-button h6 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }

  /* == STORY == */

  .our-story {
    width: auto;
    min-width: 35ch;
    flex-direction: column;
    margin-top: 12rem;
    padding: 0;
    gap: 3rem;
  }

  .our-story-image {
    margin: 0;
  }

  .our-story-image img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .our-story-text {
    margin: 0;
  }

  .our-story-text p {
    font-size: clamp(0.95rem, 0.95rem + 0.3vw, 3rem);
    letter-spacing: 0rem;
    line-height: 2rem;
  }

  .our-story-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .our-story-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .our-story h6 {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  .our-story-button {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  /* == MENUS == */

  .menu {
    width: auto;
    min-width: 30ch;
    flex-direction: column;
  }

  .menu-title {
    display: none;
  }

  .menu-text {
    display: flex;
    margin-bottom: 2rem;
  }

  .menu-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .menu-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .menu-select {
    margin-bottom: 2rem;
    flex-direction: row;
  }

  .menu-select button {
    font-size: clamp(1.55rem, 3vw, 1.8rem);
    letter-spacing: 0.01vw;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 6vw;
    text-align: end;
  }

  .menu-select button:last-of-type {
    margin: 0;
  }

  .menu-item-title {
    font-size: clamp(1.55rem, 3vw, 1.8rem);
    letter-spacing: 0px;
  }

  .menu-item-description {
    font-size: clamp(0.6rem, 1vw, 2vw);
  }

  .menu-item-price {
    font-size: clamp(1.55rem, 3vw, 1.8rem);
    letter-spacing: 0px;
  }

  .menu-item-pieces {
    font-size: clamp(0.6rem, 1vw, 2vw);
  }

  .menu-item-title-description {
    margin-bottom: 1.25rem;
  }

  .menu-item-title-description:last-of-type {
    margin-bottom: 0rem;
  }

  .menu-content-japanese-price-pieces {
    margin-left: auto;
  }

  .menu-content-western-price-pieces {
    margin-left: auto;
  }

  .menu-item-price-pieces {
    margin-bottom: 1.25rem;
  }

  .menu-item-price-pieces:last-of-type {
    margin-bottom: 0rem;
  }

  /* == OUR MENU == */

  .our-menu {
    width: auto;
    min-width: 35ch;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    gap: 3rem;
  }

  .our-menu-image {
    margin: 0;
  }

  .our-menu-image img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .our-menu-text {
    margin: 0;
  }

  .our-menu-text p:first-of-type {
    margin-top: 0rem;
  }

  .our-menu-text p {
    font-size: clamp(0.95rem, 0.95rem + 0.3vw, 3rem);
    letter-spacing: 0.02rem;
    line-height: 2rem;
  }

  .our-menu-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
    margin-bottom: 2rem;
  }

  .our-menu-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .our-menu h6 {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  .our-menu-button {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  /* == OUR REWARDS == */

  .our-rewards-container {
    max-width: 60ch;
    min-width: 35ch;
    flex-direction: column;
    gap: 3rem;
  }

  .our-rewards-image img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .our-rewards-text {
    gap: 3.5rem;
  }

  .our-rewards-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .our-rewards-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .reward img {
    width: 5rem;
    height: auto;
  }

  .rewards-row {
    flex-direction: column;
  }

  .reward h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .reward p {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .our-rewards-text-rewards {
    gap: 2.5rem;
  }

  .rewards-row {
    gap: 2.5rem;
  }

  .reward {
    gap: 2rem;
  }

  /* == MEET US == */

  .meet-us {
    gap: 9rem;
  }

  .chefs-row {
    flex-direction: column;
    gap: 4rem;
  }

  .meet-us-image {
    display: none;
  }

  .meet-us-title-chefs {
    align-items: flex-start;
    gap: 3.5rem;
  }

  .meet-us-title {
    text-align: start;
  }

  .meet-us-chefs {
    gap: 4rem;
  }

  .chef-image img {
    border: 1px solid var(--accent-color);
    transition: 0.3s ease-in-out;
  }

  .chef-image img:hover {
    background-color: var(--accent-color);
  }

  .chef {
    gap: 1.5rem;
  }

  .chef-text {
    align-items: center;
  }

  .chef-text h1 {
    font-size: 1.25rem;
    letter-spacing: 2px;
  }

  .chef-text h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .meet-us-title h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .meet-us-title h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  /* == CONTACT ==  */

  .contact {
    flex-direction: column-reverse;
    width: 100vw;
    overflow: hidden;
  }

  .contact-text {
    padding: 5rem 0rem 5rem 0rem;
    align-items: center;
  }

  .contact-text-title {
    margin: 0;
  }

  .contact-text-form {
    margin: 0;
  }

  .info {
    letter-spacing: 0px;
  }

  .contact-text input,
  textarea {
    width: 250px;
  }

  .contact-map {
    margin: 0;
  }

  .contact-map iframe {
    width: 100vh;
  }

  /* == SUBSCRIBE == */

  .subscribe-stars {
    justify-content: center;
  }

  .subscribe-stars svg {
    margin-bottom: -10px;
    stroke: none;
  }

  .subscribe-stars svg:first-of-type {
    margin-right: 20px;
    width: 50px;
    height: auto;
    margin-bottom: -50px;
  }

  .subscribe-stars svg:last-of-type {
    margin-left: 20px;
    width: 50px;
    height: auto;
    margin-bottom: -50px;
  }

  .subscribe-container {
    max-width: 60ch;
    margin: 0;
  }

  .subscribe-image {
    position: absolute;
    bottom: -2.5rem;
    z-index: -1;
  }

  .subscribe-text {
    padding: 4rem 8rem;
    align-items: center;
    background-color: #141313;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 0.3);
  }

  .subscribe-text h1 {
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: 3px;
  }

  .subscribe-text p {
    margin: 2.25rem 0 2rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 36px;
  }

  .subscribe-container input {
    width: 300px;
  }

  .subscribe-button {
    transition: inherit;
    padding-top: 3.5rem;
    font-size: 1.25rem;
  }

  .subscribe-button h6 {
    transition: inherit;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }

  /* == FOOTER == */

  footer {
    margin: 8rem 0 8rem 0;
  }

  .footer-logo {
    font-size: 2.5rem;
  }

  .footer-copyright {
    margin-top: 0.2rem;
    font-size: 0.65rem;
  }

  .footer-social {
    margin-top: 0.35rem;
    font-size: 1.25rem;
  }
}
