/* == MEDIA QUERIES == */

/* == DESKTOP == */

/* == DESKTOP 1366 == */

@media only screen and (min-width: 1366px) and (max-width: 1536px) {
  /* == GENERAL == */

  .body-container {
    padding-inline: 10rem;
    gap: 10rem;
  }

  ::placeholder {
    color: var(--primary-color);
    opacity: 1;
    font-family: Montserrat-Light;
    font-size: 1rem;
    text-align: left;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    font-size: 1em;
    color: var(--primary-color);
    font-family: Montserrat-Light;
    background-color: var(--dark-grey-color);
    border: none;
    border-bottom: 1px solid white;
    resize: none;
    padding: 0.5rem;
    padding-left: 0;
    resize: none;
  }

  /* == HERO 1366 == */

  .hero-button {
    font-size: 1.4rem;
  }

  .hero-button h6 {
    font-size: 1.5rem;
  }

  /* == OUR STORY 1366px == */

  .our-story {
    max-width: 107ch;
    width: auto;
    margin-top: 0;
    padding: 0;
    gap: 6rem;
  }

  .our-story-text p {
    font-size: 1rem;
    letter-spacing: 0.2px;
    line-height: 1.75rem;
  }

  .our-story-text p:first-of-type {
    margin-top: 1.5rem;
  }

  .our-story-text p:last-of-type {
    margin-top: 1.25rem;
  }

  .our-story-text h1 {
    font-size: 2.75rem;
    letter-spacing: 0rem;
  }

  .our-story-text h2 {
    font-size: 2rem;
    letter-spacing: 0rem;
  }

  .our-story h6 {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  .our-story-button {
    padding-top: 3rem;
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  /* == OUR MENU 1366px == */

  .our-menu {
    max-width: 107ch;
    width: auto;
    margin-top: 0;
    padding: 0;
    gap: 6rem;
  }

  .our-menu-text p {
    font-size: 1rem;
    letter-spacing: 0.2px;
    line-height: 1.75rem;
  }

  .our-menu-text p:first-of-type {
    margin-top: 1.5rem;
  }

  .our-menu-text p:last-of-type {
    margin-top: 1.25rem;
  }

  .our-menu-text h1 {
    font-size: 2.75rem;
    letter-spacing: 0rem;
  }

  .our-menu-text h2 {
    font-size: 2rem;
    letter-spacing: 0rem;
  }

  .our-menu h6 {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  .our-menu-button {
    padding-top: 3rem;
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  /* == CONTACT 1366px == */

  .contact-text {
    padding: 5rem 8rem 5rem 5rem;
  }

  .info {
    font-size: 1.1rem;
  }

  .contact-text {
    gap: 2.5rem;
  }

  .contact-text-form {
    gap: 3rem;
  }

  .contact-text-title {
    font-size: 1.5rem;
  }

  .contact-text input,
  textarea {
    width: 250px;
  }

  .contact-map {
    margin-left: -5rem;
  }

  .contact-map iframe {
    width: 500px;
    height: 700px;
  }

  .contact-button h6 {
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  .contact-button {
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  /* == MENUS 1366px == */

  .menu {
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  .menu-text {
    display: none;
  }

  .menu-title {
    margin-bottom: 3rem;
  }

  .menu-title h1 {
    font-size: 2.75rem;
  }

  .menu-title h2 {
    font-size: 2rem;
  }

  .menu-select {
    margin-bottom: 3rem;
    gap: 2rem;
  }

  .menu-select button {
    font-size: 1.75rem;
    letter-spacing: 1px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: end;
  }

  .menu-item-title {
    font-size: 1.75rem;
    letter-spacing: 1px;
  }

  .menu-item-description {
    font-size: 0.75rem;
  }

  .menu-item-price {
    font-size: 1.75rem;
    letter-spacing: 1px;
  }

  .menu-item-pieces {
    font-size: 0.75rem;
  }

  /* == MEET US 1366px == */

  .meet-us-image {
    display: none;
  }

  .meet-us-title {
    text-align: start;
  }

  .meet-us-title h1 {
    font-size: 2.75rem;
  }

  .meet-us-title h2 {
    font-size: 2rem;
  }

  .meet-us-title-chefs {
    align-items: flex-start;
  }

  .chef-text h1 {
    font-size: 1.5rem;
  }

  .chef-image img {
    width: 250px;
    height: auto;
  }

  /* == OUR REWARDS 1366px == */

  .our-rewards-container {
    gap: 6rem;
    justify-content: center;
  }

  .our-rewards-text {
    gap: 5rem;
  }

  .our-rewards-text-rewards {
    gap: 4rem;
  }

  .flair {
    font-size: 2rem;
  }

  .title {
    font-size: 2.75rem;
  }

  .reward {
    gap: 2rem;
  }

  .reward-text h1 {
    font-size: 1.5rem;
  }

  .reward-text p {
    font-size: 1rem;
  }

  /* == SUBSCRIBE 1366px == */

  .subscribe {
    max-width: 110ch;
    width: auto;
  }

  .subscribe-text h1 {
    font-size: 2.75rem;
  }

  .subscribe-text p {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
  }
}

/* == DESKTOP 1024 == */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  /* == GENERAL == */

  .body-container {
    padding-inline: 9rem;
    gap: 10rem;
  }

  ::placeholder {
    color: var(--primary-color);
    opacity: 1;
    font-family: Montserrat-Light;
    font-size: 1rem;
    text-align: left;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    font-size: 1em;
    color: var(--primary-color);
    font-family: Montserrat-Light;
    background-color: var(--dark-grey-color);
    border: none;
    border-bottom: 1px solid white;
    resize: none;
    padding: 0.5rem;
    padding-left: 0;
    resize: none;
  }

  /* == NAV 1024 == */

  .logo {
    margin-left: 9rem;
  }

  .primary-navigation {
    margin: 0;
    margin-right: 9rem;
  }

  /* == HERO 1024px == */

  .hero-menu-background-image {
    z-index: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% bottom;
  }

  .hero-about-background-image {
    z-index: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% bottom;
  }

  .hero-text {
    padding-left: 9rem;
  }

  .hero-logo {
    font-size: 2.5rem;
  }

  .hero-button {
    font-size: 1.3rem;
  }

  .hero-button h6 {
    font-size: 1.5rem;
  }

  /* == OUR STORY 1024px == */

  .our-story {
    max-width: 95ch;
    width: auto;
    margin-top: 0;
    padding: 0;
    gap: 3rem;
  }

  .our-story-text p {
    font-size: 1rem;
    letter-spacing: 0rem;
    line-height: 1.75rem;
  }

  .our-story-text p:first-of-type {
    margin-top: 1.25rem;
  }

  .our-story-text p:last-of-type {
    margin-top: 1.25rem;
  }

  .our-story-text h1 {
    font-size: 2.5rem;
    letter-spacing: 0rem;
  }

  .our-story-text h2 {
    font-size: 1.75rem;
    letter-spacing: 0rem;
  }

  .our-story h6 {
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  .our-story-button {
    padding-top: 2.25rem;
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  /* == OUR MENU 1024px == */

  .our-menu {
    max-width: 95ch;
    width: auto;
    margin-top: 0;
    padding: 0;
    gap: 3rem;
  }

  .our-menu-text p {
    font-size: 1rem;
    letter-spacing: 0rem;
    line-height: 1.75rem;
  }

  .our-menu-text p:first-of-type {
    margin-top: 1.25rem;
  }

  .our-menu-text p:last-of-type {
    margin-top: 1.25rem;
  }

  .our-menu-text h1 {
    font-size: 2.5rem;
    letter-spacing: 0rem;
  }

  .our-menu-text h2 {
    font-size: 1.75rem;
    letter-spacing: 0rem;
  }

  .our-menu h6 {
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  .our-menu-button {
    padding-top: 2.25rem;
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  /* == CONTACT 1024px == */

  .contact-text {
    padding: 3rem 7rem 3rem 4rem;
  }

  .info {
    font-size: 1rem;
  }

  .contact-text {
    gap: 2.5rem;
  }

  .contact-text-form {
    gap: 3rem;
  }

  .contact-text-title {
    font-size: 1.5rem;
  }

  .contact-text input,
  textarea {
    width: 250px;
  }

  .contact-map {
    margin-left: -5rem;
  }

  .contact-map iframe {
    width: 350px;
    height: 600px;
  }

  .contact-button h6 {
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  .contact-button {
    font-size: 1.15rem;
    letter-spacing: 0rem;
  }

  /* == MENUS 1024px == */

  .menu {
    width: 100%;
    min-width: 0;
    max-width: none;
    flex-direction: column;
  }

  .menu-title {
    display: none;
  }

  .menu-text {
    display: flex;
    margin-bottom: 2rem;
  }

  .menu-text h1 {
    font-size: 3.5rem;
    letter-spacing: 0rem;
  }

  .menu-text h2 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .menu-select {
    margin: 0;
    margin-bottom: 3rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .menu-select button {
    font-size: 2rem;
    letter-spacing: 1px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: end;
  }

  .menu-item-title {
    font-size: 1.75rem;
    letter-spacing: 0px;
  }

  .menu-item-description {
    font-size: 1rem;
  }

  .menu-item-price {
    font-size: 1.75rem;
    letter-spacing: 0px;
  }

  .menu-item-pieces {
    font-size: 1rem;
  }

  .menu-content-japanese {
    gap: 2rem;
  }

  .menu-content-japanese-price-pieces {
    margin: 0;
  }

  .menu-content-western {
    gap: 5.2rem;
  }

  .menu-content-western-price-pieces {
    margin: 0;
  }

  /* == MEET US 1024px == */

  .meet-us-image {
    display: none;
  }

  .meet-us-title {
    text-align: start;
  }

  .meet-us-title h1 {
    font-size: 2.5rem;
  }

  .meet-us-title h2 {
    font-size: 1.75rem;
  }

  .meet-us-title-chefs {
    align-items: flex-start;
  }

  .chef-text h1 {
    font-size: 1.5rem;
  }

  .chef-image img {
    width: 225px;
    height: auto;
  }

  /* == REWARDS 1024px == */

  .our-rewards-container {
    gap: 3rem;
    justify-content: center;
  }

  .our-rewards-text {
    gap: 3rem;
  }

  .our-rewards-text-rewards {
    gap: 3rem;
  }

  .flair {
    font-size: 1.75rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .reward {
    gap: 1rem;
  }

  .reward-text h1 {
    font-size: 1.25rem;
  }

  .reward-text p {
    font-size: 0.8rem;
  }

  /* == SUBSCRIBE 1024px == */

  .subscribe {
    max-width: 90ch;
    width: auto;
  }

  .subscribe-text h1 {
    font-size: 2.5rem;
  }

  .subscribe-text p {
    font-size: 1rem;
  }
}

/* == TABLETS == */

@media only screen and (min-width: 481px) and (max-width: 820px) {
  /* == NAV TABLET == */

  .mobile-nav {
    display: block;
  }

  .mobile-nav-toggle svg {
    height: 35px;
    width: auto;
  }

  .mobile-nav-text a {
    font-size: 3.5rem;
    margin: 2rem;
  }

  .logo {
    margin-top: 50px;
    margin-left: 6rem;
  }

  .logo-nav {
    font-size: 2.25rem;
  }

  .primary-navigation {
    margin-right: 6rem;
  }

  .primary-navigation a {
    display: none;
  }

  .primary-navigation button {
    display: block;
    fill: #fff;
    width: 2rem;
    aspect-ratio: 1/1;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  /* == HERO TABLET == */

  .hero-home-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-menu-background-image {
    background-position: 82%;
    filter: brightness(60%);
  }

  .hero-about-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-text {
    padding-left: 6rem;
  }

  .hero-logo {
    font-size: 3rem;
    padding-bottom: 0.6rem;
  }

  .hero-message {
    margin-top: 16px;
    line-height: 4.25rem;
    letter-spacing: 0;
    font-size: 3.25rem;
  }

  .hero-button {
    padding-top: 3rem;
    font-size: 1.75rem;
  }

  .hero-button h6 {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
  }

  /* == GENERAL TABLET == */

  img {
    width: 100%;
    height: auto;
  }

  .body-container {
    padding: 0;
    padding-top: 16rem;
    align-items: center;
    margin: 0 14vw 0 14vw;
    gap: 12rem;
  }

  /* == OUR STORY TABLET == */

  .our-story {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding-inline: 4vw;
  }

  /* == OUR MENU TABLET == */

  .our-menu {
    flex-direction: column-reverse;
    gap: 4rem;
    width: 100%;
    padding-inline: 4vw;
  }

  /* == MEET US TABLET == */

  .meet-us-image {
    display: none;
  }

  .meet-us-title {
    text-align: start;
  }

  .meet-us-title-chefs {
    align-items: flex-start;
  }

  .chef-text h1 {
    font-size: 1.5rem;
  }

  /* == OUR REWARDS TABLET == */

  .our-rewards-container {
    flex-direction: column;
    width: 100%;
  }

  .reward {
    gap: 1.5rem;
  }

  .our-rewards-text-rewards {
    gap: 4.5rem;
  }

  /* .our-rewards-image {
    padding-right: 3rem;
  } */

  /* == MENUS == */

  .menu {
    width: 100%;
    min-width: 0;
    max-width: none;
    flex-direction: column;
  }

  .menu-title {
    display: none;
  }

  .menu-text {
    display: flex;
    margin-bottom: 2rem;
  }

  .menu-text h1 {
    font-size: 3.5rem;
    letter-spacing: 0rem;
  }

  .menu-text h2 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .menu-select {
    margin: 0;
    margin-bottom: 3rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .menu-select button {
    font-size: 2rem;
    letter-spacing: 1px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: end;
  }

  .menu-item-title {
    font-size: 1.75rem;
    letter-spacing: 0px;
  }

  .menu-item-description {
    font-size: 1rem;
  }

  .menu-item-price {
    font-size: 1.75rem;
    letter-spacing: 0px;
  }

  .menu-item-pieces {
    font-size: 1rem;
  }

  .menu-content-japanese {
    gap: 2rem;
  }

  .menu-content-japanese-price-pieces {
    margin: 0;
  }

  .menu-content-western {
    gap: 5.2rem;
  }

  .menu-content-western-price-pieces {
    margin: 0;
  }

  /* == CONTACT TABLET ==  */

  .contact {
    flex-direction: column-reverse;
    width: 100%;
  }

  .contact-map {
    margin: 0;
  }

  .contact-map iframe {
    width: 100%;
  }

  .contact-text {
    align-items: center;
    padding: 5rem 0 5rem 0;
  }

  .contact-text-title {
    margin: 0;
    letter-spacing: 3px;
  }

  .contact-text input,
  textarea {
    width: 250px;
  }

  .contact-text-form {
    margin: 0;
  }

  /* == SUBSCRIBE TABLET == */

  .subscribe {
    width: 100%;
  }

  .subscribe-container {
    width: 100%;
    padding: 0;
  }

  .subscribe-text {
    width: 100%;
    padding: 4rem 3rem;
  }

  .subscribe-text h1 {
    font-size: 2.25rem;
  }

  .subscribe-text p {
    font-size: 1rem;
  }

  /* == FOOTER TABLET == */

  footer {
    margin: 12rem 0 12rem 0;
  }
}

/* == PHONES == */

@media only screen and (max-width: 1749px) {
  .subscribe-image {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* == GENERAL PHONE == */

  .body-container {
    padding: 0;
    padding-top: 10rem;
    align-items: center;
    margin: 0 8vw 0 8vw;
    gap: 8rem;
  }

  /* == NAV PHONE == */

  .mobile-nav {
    display: block;
  }

  .logo {
    margin-left: 2.5rem;
  }

  .logo-nav {
    font-size: 1.75rem;
  }

  .primary-navigation {
    margin-right: 2.5rem;
  }

  .primary-navigation a {
    display: none;
  }

  .primary-navigation button {
    display: block;
    fill: #fff;
    width: 2rem;
    aspect-ratio: 1/1;
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  /* == HERO PHONE == */

  .hero-home-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-menu-background-image {
    background-position: 75%;
    filter: brightness(60%);
  }

  .hero-about-background-image {
    background-position: 60% bottom;
    filter: brightness(60%);
  }

  .hero-text {
    padding-left: 2.5rem;
  }

  .hero-logo {
    font-size: 2.2rem;
    padding-bottom: 0.6rem;
  }

  .hero-message {
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
  }

  .hero-button {
    padding-top: 3rem;
    font-size: 1rem;
  }

  .hero-button h6 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }

  /* == OUR STORY PHONE == */

  .our-story {
    width: auto;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
    gap: 3rem;
  }

  .our-story-image {
    margin: 0;
  }

  .our-story-image img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .our-story-text {
    margin: 0;
  }

  .our-story-text p {
    font-size: clamp(0.95rem, 0.95rem + 0.3vw, 3rem);
    letter-spacing: 0rem;
    line-height: 2rem;
  }

  .our-story-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .our-story-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .our-story h6 {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  .our-story-button {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  /* == MENUS PHONE == */

  .menu {
    width: 100%;
    min-width: 0;
    max-width: none;
    flex-direction: column;
  }

  .menu-title {
    display: none;
  }

  .menu-text {
    display: flex;
    margin-bottom: 2rem;
  }

  .menu-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .menu-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .menu-select {
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-direction: row;
  }

  .menu-select button {
    font-size: clamp(1.55rem, 3vw, 1.8rem);
    letter-spacing: 0.01vw;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: end;
  }

  .menu-item-title {
    font-size: clamp(1.55rem, 3vw, 1.8rem);
    letter-spacing: 0px;
  }

  .menu-item-description {
    font-size: clamp(0.6rem, 1vw, 2vw);
  }

  .menu-item-price {
    font-size: clamp(1.55rem, 3vw, 1.8rem);
    letter-spacing: 0px;
  }

  .menu-item-pieces {
    font-size: clamp(0.6rem, 1vw, 2vw);
  }

  .menu-item-title-description {
    margin-bottom: 1.25rem;
  }

  .menu-item-title-description:last-of-type {
    margin-bottom: 0rem;
  }

  .menu-content-japanese-price-pieces {
    margin-left: auto;
  }

  .menu-content-western-price-pieces {
    margin-left: auto;
  }

  .menu-item-price-pieces {
    margin-bottom: 1.25rem;
  }

  .menu-item-price-pieces:last-of-type {
    margin-bottom: 0rem;
  }

  /* == OUR MENU PHONE == */

  .our-menu {
    width: auto;
    min-width: 35ch;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    gap: 3rem;
  }

  .our-menu-image {
    margin: 0;
  }

  .our-menu-image img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .our-menu-text {
    margin: 0;
  }

  .our-menu-text p:first-of-type {
    margin-top: 0rem;
  }

  .our-menu-text p {
    font-size: clamp(0.95rem, 0.95rem + 0.3vw, 3rem);
    letter-spacing: 0.02rem;
    line-height: 2rem;
  }

  .our-menu-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
    margin-bottom: 2rem;
  }

  .our-menu-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .our-menu h6 {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  .our-menu-button {
    font-size: 1.25rem;
    letter-spacing: 0rem;
  }

  /* == OUR REWARDS PHONE == */

  .our-rewards-container {
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }

  .our-rewards-image img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .our-rewards-text {
    gap: 3.5rem;
  }

  .our-rewards-text h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .our-rewards-text h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  .reward img {
    width: 5rem;
    height: auto;
  }

  .rewards-row {
    flex-direction: column;
  }

  .reward h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  .reward p {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .our-rewards-text-rewards {
    gap: 2.5rem;
  }

  .rewards-row {
    gap: 2.5rem;
  }

  .reward {
    gap: 2rem;
  }

  /* == MEET US PHONE == */

  .meet-us {
    gap: 9rem;
  }

  .chefs-row {
    flex-direction: column;
    gap: 4rem;
  }

  .meet-us-image {
    display: none;
  }

  .meet-us-title-chefs {
    align-items: flex-start;
    gap: 3.5rem;
  }

  .meet-us-title {
    text-align: start;
  }

  .meet-us-chefs {
    gap: 4rem;
  }

  .chef-image img {
    border: 1px solid var(--accent-color);
    transition: 0.3s ease-in-out;
  }

  .chef-image img:hover {
    background-color: var(--accent-color);
  }

  .chef {
    gap: 1.5rem;
  }

  .chef-text {
    align-items: center;
  }

  .chef-text h1 {
    font-size: 1.25rem;
    letter-spacing: 2px;
  }

  .chef-text h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .meet-us-title h1 {
    font-size: 2.625rem;
    letter-spacing: 0rem;
  }

  .meet-us-title h2 {
    font-size: 2.25rem;
    letter-spacing: 0rem;
  }

  /* == CONTACT PHONE ==  */

  .contact {
    flex-direction: column-reverse;
    width: 100vw;
    overflow: hidden;
  }

  .contact-text {
    padding: 5rem 0rem 5rem 0rem;
    align-items: center;
  }

  .contact-text-title {
    margin: 0;
  }

  .contact-text-form {
    margin: 0;
  }

  .info {
    letter-spacing: 0px;
  }

  .contact-text input,
  textarea {
    width: 250px;
  }

  .contact-map {
    margin: 0;
  }

  .contact-map iframe {
    width: 100vw;
  }

  /* == SUBSCRIBE PHONE == */

  .subscribe {
    width: 100%;
  }

  .subscribe-stars {
    justify-content: center;
  }

  .subscribe-stars svg {
    margin-bottom: -10px;
    stroke: none;
  }

  .subscribe-stars svg:first-of-type {
    margin-right: 20px;
    width: 50px;
    height: auto;
    margin-bottom: -50px;
  }

  .subscribe-stars svg:last-of-type {
    margin-left: 20px;
    width: 50px;
    height: auto;
    margin-bottom: -50px;
  }

  .subscribe-container {
    margin: 0;
  }

  .subscribe-image {
    position: absolute;
    bottom: -2.5rem;
    z-index: -1;
  }

  .subscribe-text {
    padding: 4rem 8rem;
    align-items: center;
    background-color: #141313;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 0.3);
  }

  .subscribe-text h1 {
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: 3px;
  }

  .subscribe-text p {
    margin: 2.25rem 0 2rem 0;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 36px;
  }

  .subscribe-container input {
    width: 300px;
  }

  .subscribe-button {
    transition: inherit;
    padding-top: 3.5rem;
    font-size: 1.25rem;
  }

  .subscribe-button h6 {
    transition: inherit;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
  }

  /* == FOOTER PHONE == */

  footer {
    margin: 8rem 0 8rem 0;
  }

  .footer-logo {
    font-size: 2.5rem;
  }

  .footer-copyright {
    margin-top: 0.2rem;
    font-size: 0.65rem;
  }

  .footer-social {
    margin-top: 0.35rem;
    font-size: 1.25rem;
  }
}
