@font-face {
  font-family: "Ambroise-Regular";
  src: url("../fonts/ambroise-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Calluna-Regular";
  src: url("../fonts/calluna-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Calluna-Light";
  src: url("../fonts/calluna-light.woff2") format("woff2");
}

@font-face {
  font-family: "Calluna-Bold";
  src: url("../fonts/calluna-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Calluna-Italic";
  src: url("../fonts/calluna-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat-regular.woff2") format("woff2");
  src: url("../fonts/montserrat-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/montserrat-light.woff2") format("woff2");
  src: url("../fonts/montserrat-light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat-bold.woff2") format("woff2");
  src: url("../fonts/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: "GreatVibrations-Regular";
  src: url("../fonts/greatvibrations-regular.woff2") format("woff2");
}

:root {
  --primary-color: #fff;
  --accent-color: #fba1a1;
  --light-grey-color: #dedbdb;
  --dark-grey-color: #141313;
  --background-color: #0f0e0e;
}

*,
*:before,
*:after {
  z-index: inherit;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  background-color: var(--background-color);
  margin: 0;
  overflow-x: hidden !important;
}

svg {
  fill: var(--primary-color);
  stroke: var(--primary-color);
  color: var(--primary-color);
}

::-moz-selection {
  color: var(--primary-color);
  background: var(--accent-color);
}

::selection {
  color: var(--primary-color);
  background: var(--accent-color);
}

/* == HELPER == */

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.font-ambroise-regular {
  font-family: Ambroise-Regular, serif;
}

.font-calluna-regular {
  font-family: Calluna-Regular, serif;
}

.font-calluna-light {
  font-family: Calluna-Light, serif;
}

.font-calluna-bold {
  font-family: Calluna-Bold, serif;
}

.font-calluna-italic {
  font-family: Calluna-Italic, serif;
}

.font-montserrat-regular {
  font-family: Montserrat-Regular, sans-serif;
}

.font-montserrat-light {
  font-family: Montserrat-Light, sans-serif;
}

.font-montserrat-bold {
  font-family: Montserrat-Bold, sans-serif;
}

.font-greatvibrations-regular {
  font-family: GreatVibrations-Regular, cursive;
}

.color-white {
  color: var(--primary-color);
}

.color-accent {
  color: var(--accent-color);
}

.color-dark-grey {
  color: var(--accent-color);
}

.color-light-grey {
  color: var(--light-grey-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--accent-color) !important;
  fill: var(--accent-color) !important;
}

button:hover {
  color: var(--accent-color) !important;
  fill: var(--accent-color) !important;
}

span {
  color: var(--accent-color);
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  padding: 0;
}

img {
  color: var(--primary-color);
  font-family: Montserrat-Light;
  text-align: center;
}

.text-center {
  text-align: center;
}

.active {
  color: var(--accent-color) !important;
}

.z-200 {
  z-index: 200;
}

.title {
  letter-spacing: 3px;
  font-size: 3.5rem;
}

.flair {
  font-size: 2.625rem;
}

@keyframes reveal-horizontal-scale {
  from {
    opacity: 0;
    transform: scale(1, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes reveal-vertical-scale {
  from {
    opacity: 0;
    transform: scale(0, 1);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes reveal-vertical-scale {
  from {
    opacity: 0;
    transform: scale(0, 1);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes hide {
  from {
    z-index: 20;
  }

  to {
    z-index: 5;
  }
}

@keyframes opacity-0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 40px);
  }
}

.reveal-horizontal {
  opacity: 0;
}

.reveal-vertical {
  opacity: 0;
}

.fadeInUp-1st {
  opacity: 0;
}

.fadeInUp-2nd {
  opacity: 0;
}

.animated-fadeInUp {
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.animated-reveal-horizontal {
  transform-origin: top;
  animation-name: reveal-horizontal-scale;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.animated-reveal-vertical {
  transform-origin: left;
  animation-name: reveal-vertical-scale;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

section {
  scroll-margin-top: 150px;
}

#menu {
  scroll-margin-top: 250px;
}

::placeholder {
  /* light grey */
  color: var(--light-grey-color);
  opacity: 1;
  font-family: Montserrat-Light;
  font-size: 1.125rem;
  text-align: left;
}

.red-placeholder::placeholder {
  color: #ff6961;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--accent-color);
  outline-offset: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  font-size: 1.125rem;
  color: var(--primary-color);
  font-family: Montserrat-Light;
  background-color: var(--dark-grey-color);
  border: none;
  border-bottom: 1px solid white;
  resize: none;
  padding: 0.5rem;
  padding-left: 0;
  resize: none;
}

/* == MAIN == */

/* == MOBILE NAV == */

.mobile-nav {
  display: none;
}

.mobile-nav-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.rectangle-left {
  background-color: var(--dark-grey-color);
  width: 50%;
  height: 100%;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.rectangle-right {
  background-color: var(--dark-grey-color);
  width: 50%;
  height: 100%;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.mobile-nav [data-visible="faded"] {
  transition-delay: 0s;
}

.mobile-nav [data-visible="slided"] {
  transition-delay: 0.3s;
}

.mobile-nav-text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transition-delay: 0.7s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.mobile-nav-text a {
  font-family: Calluna-Regular;
  color: var(--primary-color);
  font-size: 2.5rem;
  margin: 1.5rem 0;
  z-index: inherit;
}

.mobile-nav-text a:last-child {
  margin-bottom: 0;
}

.mobile-nav-text a:first-child {
  margin-top: 0;
}

.menu-hidden {
  display: none;
  animation: fadeOutDown 0.5s ease-in-out;
}

.menu-shown {
  display: block;
  animation: fadeInUp 0.5s ease-in-out;
}

.hidden {
  animation-name: hide;
  animation-duration: 3s;
}

.shown {
  z-index: 20;
}

.unslided {
  visibility: visible;
  z-index: 20;
  transform: translate(0%);
}

.slided-up {
  visibility: hidden;
  z-index: 0;
  transform: translate(0, -100%);
}

.slided-down {
  visibility: hidden;
  z-index: 0;
  transform: translate(0, 100%);
}

.fadeInUp {
  visibility: visible;
  z-index: 60;
  transform: translate3d(0, 0px, 0);
  opacity: 1;
}

.unfadeInUp {
  visibility: hidden;
  z-index: 0;
  transform: translate3d(0, 40px, 0);
  opacity: 0;
}

/* == NAV == */

.gradient-top {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 10rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.23) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradient-bottom {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(15, 14, 14, 0.46) 60%,
    rgba(15, 14, 14, 1) 100%
  );
}

.primary-header {
  z-index: 9999;
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
}

.logo {
  margin: 2.5rem 0 2.5rem 11.5rem;
}

.logo-nav {
  transition: 0.4s;
  font-size: 1.9rem;
  letter-spacing: 0.3rem;
}

.primary-navigation {
  transition: top 0.4s ease-out;
  list-style: none;
  padding: 0;
  margin: 0 11.5rem 0 0;
}

.primary-navigation button {
  display: none;
}

.primary-navigation a {
  font-size: 1.25rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  letter-spacing: 0.075rem;
}

.primary-navigation a.more-padding {
  padding-right: 1.5rem !important;
}

.primary-navigation a.social {
  padding: 0.75rem 0.5em 0.75rem 0.5rem;
}

/* == HERO == */

.hero-home-background-image {
  z-index: 0;
  background: var(--background-color);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/hero/hero-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.hero-menu-background-image {
  z-index: 0;
  background: var(--background-color);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/hero/hero-menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.hero-about-background-image {
  z-index: 0;
  background: var(--background-color);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../images/hero/hero-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.hero-text {
  transition: 0.4s;
  animation: fadeInUp 0.5s 0s ease-in-out;
  z-index: 10;
  filter: drop-shadow(4px 4px 20px #000);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 11.5rem;
  padding-bottom: 0rem;
}

.hero-logo {
  opacity: 0;
  animation: fadeInUp 0.5s 0s ease-in-out forwards;
  letter-spacing: 0.3rem;
  font-size: clamp(2vmin, 2vmin + 5vw, 2.7vmax);
  padding-bottom: 1.5rem;
}

.hero-message {
  opacity: 0;
  animation: fadeInUp 0.5s 0.2s ease-in-out forwards;
  letter-spacing: 0.1rem;
  font-size: clamp(5vmin, 3vmin + 10vw, 3vmax);
}

.hero-button {
  cursor: pointer;
  opacity: 0;
  animation: fadeInUp 0.5s 0.4s ease-in-out forwards;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-size: clamp(2vmin, 2vmin + 5vw, 1.35vmax);
}

.hero-button h6 {
  transition: inherit;
  margin: 0;
  padding: 0;
  font-size: clamp(2vmin, 2vmin + 10vw, 1.4vmax);
  letter-spacing: 0.1rem;
}

.arrow {
  padding-top: 3px;
  padding-left: 15px;
  transition: transform 175ms ease-out;
}

a:hover .arrow {
  transform: translate(10px, 0px);
}

.scroll-indicator {
  z-index: 3;
  position: absolute;
  bottom: -5rem;
  left: 50%;
}

.body-container {
  align-items: center;
  padding: 18rem 20vw 0rem 20vw;
  gap: 14rem;
}

/* == OUR STORY == */

.our-story {
  width: 141ch;
  gap: 8rem;
}

.our-story-text {
  justify-content: center;
}

.our-story-text {
  justify-content: center;
}

.our-story-text p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.3px;
}

.our-story-text p:first-of-type {
  margin-top: 2rem;
}

.our-story-text p:last-of-type {
  margin-top: 2rem;
}

.our-story-button {
  transition: inherit;
  padding-top: 3.5rem;
  font-size: 1.5625rem;
}

.our-story-button h6 {
  transition: inherit;
  margin: 0;
  padding: 0;
  font-size: 1.5625rem;
  letter-spacing: 0.1rem;
}

/* == OUR MENU == */

.our-menu {
  width: 140ch;
  margin-top: 0;
  gap: 8rem;
}

.our-menu-text {
  justify-content: center;
}

.our-menu-text p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0px;
}

.our-menu-text p:first-of-type {
  margin-top: 2rem;
}

.our-menu-text p:last-of-type {
  margin-top: 2rem;
}

.our-menu-button {
  transition: inherit;
  padding-top: 3.5rem;
  font-size: 1.5625rem;
}

.our-menu-button h6 {
  transition: inherit;
  margin: 0;
  padding: 0;
  font-size: 1.5625rem;
  letter-spacing: 0.1rem;
}

/* == OUT REWARDS == */

.our-rewards-container {
  width: 140ch;
  flex-direction: row;
  gap: 6rem;
}

.our-rewards-text {
  justify-content: center;
  gap: 6rem;
}

.our-rewards-text-rewards {
  gap: 6rem;
}

.rewards-row {
  gap: 3rem;
}

.reward {
  gap: 2rem;
}

.reward h1 {
  font-size: 1.5rem;
}

.reward p {
  font-size: 1rem;
}

.reward-text {
  justify-content: center;
}

.reward-image {
  justify-content: center;
  align-items: center;
}

.reward-image img {
  margin-right: 0;
  width: 5rem;
}

/* == MENUS == */

.menu {
  width: 142ch;
}

.menu-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.menu-select {
  margin-right: 4.166vw;
  align-items: flex-end;
  /* width: 15rem; */
}

.menu-select span {
  color: var(--light-grey-color);
  background-color: var(--background-color);
  /* padding-left: 1.25rem; */
}

/*

.menu-select button::before {
  background-color: var(--accent-color);
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  height: 1px;
  top: 20px;
  transition: 0.3s ease-in-out;
  transform: scale(0%);
  transform-origin: left;
}

.menu-select button.line::before {
  transform: scale(100%);
} */

.menu-text {
  display: none;
}

.menu-select button {
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 1.5px;
  background: none;
  border: none;
  padding: 0;
  margin-top: 2.5rem;
  text-align: end;
}

/* button[class*="menu-select-item"] {
  width: 100%;
  position: relative;
} */

.menu-select button:first-of-type {
  margin-top: 0rem;
}

.menu-item-title {
  font-size: 2rem;
  letter-spacing: 2px;
}

.menu-item-description {
  font-size: 1rem;
}

.menu-item-price {
  font-size: 2rem;
  letter-spacing: 2px;
}

.menu-item-pieces {
  font-size: 1rem;
}

.menu-item-title-description {
  margin-bottom: 2rem;
}

.menu-item-title-description:last-of-type {
  margin-bottom: 0rem;
}

div[class*="menu-content"] {
  justify-content: center;
}

.menu-content-japanese-price-pieces {
  margin-left: 7.5vw;
}

.menu-content-western-price-pieces {
  margin-left: 10.25vw;
}

.menu-item-price-pieces {
  margin-bottom: 2rem;
}

.menu-item-price-pieces:last-of-type {
  margin-bottom: 0rem;
}

/* == MEET US == */

.meet-us {
  gap: 9rem;
}

.meet-us-title-chefs {
  align-items: flex-end;
  gap: 3.5rem;
}

.meet-us-title {
  text-align: end;
}

.chefs-row {
  gap: 7.5rem;
}

.meet-us-chefs {
  gap: 4rem;
}

.chef-image img {
  border: 1px solid var(--accent-color);
  transition: 0.3s ease-in-out;
}

.chef-image img:hover {
  background-color: var(--accent-color);
}

.chef {
  gap: 1.5rem;
}

.chef-text {
  align-items: center;
}

.chef-text h1 {
  font-size: 1.75rem;
  letter-spacing: 2px;
}

.chef-text h2 {
  font-size: 1rem;
  letter-spacing: 2px;
}

/* == CONTACT == */

.contact-text {
  padding: 4.5rem 10rem 4.5rem 6rem;
  background-color: var(--dark-grey-color);
  gap: 4rem;
}

.contact-text input,
textarea {
  width: 325px;
}

.contact-text-title {
  font-size: 1.5rem;
  margin-left: 2.75rem;
}

.info {
  font-size: 1.25rem;
  letter-spacing: 1px;
  gap: 1.25rem;
}

.contact-text-info {
  gap: 2rem;
}

.contact-text-form {
  margin-left: 2.75rem;
  gap: 4rem;
}

.contact-form {
  gap: 1rem;
}

.contact-button h6 {
  font-size: 1.25rem;
}

.contact-button i.arrow {
  font-size: 1.25rem;
}

.contact-map {
  margin-left: -7rem;
  align-items: center;
}

.contact-map iframe {
  outline: none;
  width: 600px;
  height: 700px;
}

.contact-map iframe:focus {
  outline: none;
}

/* == SUBSCRIBE == */

.subscribe {
  width: 116ch;
}

.subscribe-container input {
  width: 375px;
}

.subscribe-stars {
  justify-content: center;
  z-index: 200;
}

.subscribe-stars svg {
  margin-bottom: -10px;
  stroke: none;
}

.subscribe-stars svg:first-of-type {
  margin-right: 20px;
  width: 50px;
  height: auto;
  margin-bottom: -50px;
}

.subscribe-stars svg:last-of-type {
  margin-left: 20px;
  width: 50px;
  height: auto;
  margin-bottom: -50px;
}

.subscribe-container {
  margin: 0;
  padding: 0;
}

.subscribe {
  justify-content: center;
  position: relative;
}

.subscribe-image {
  position: absolute;
  bottom: -2.5rem;
  z-index: -1;
}

.subscribe-text {
  padding: 4rem 8rem;
  align-items: center;
  background-color: #141313;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 0.3);
}

.subscribe-text h1 {
  text-align: center;
  font-size: 2.75rem;
  letter-spacing: 3px;
}

.subscribe-text p {
  margin: 2.25rem 0 2rem 0;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 36px;
}

.subscribe-button {
  transition: inherit;
  padding-top: 3.5rem;
  font-size: 1.5625rem;
}

.subscribe-button h6 {
  transition: inherit;
  margin: 0;
  padding: 0;
  font-size: 1.5625rem;
  letter-spacing: 0.1rem;
}

/* == FOOTER == */

footer {
  margin: 15vw 0 10vw 0;
}

.footer-container {
  align-items: center;
}

.footer-logo {
  font-size: 3rem;
  letter-spacing: 8px;
}

.footer-copyright {
  margin-top: 0.4rem;
  font-size: 0.75rem;
}

.footer-social {
  font-size: 1.5rem;
  margin-top: 0.65rem;
}

.footer-social i {
  padding: 0.5rem;
}

.footer-social a {
  margin: 0 0.25rem;
}

/* .scroll-test {
  height: 200vh;
  width: 100vh;
} */

/* == RESERVATION FORM == */

.overlay {
  display: none;
  z-index: 10000;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

.overlay-close {
  display: none;
  position: absolute;
  top: 35px;
  right: 325px;
  font-size: 3rem;
  color: var(--primary-color);
  cursor: pointer;
}

.overlay-close:hover {
  color: var(--accent-color);
}

.overlay input {
  font-size: 1rem;
}

.overlay input::placeholder {
  font-size: 1rem;
}

.overlay-background {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px) brightness(50%);
  height: 100%;
  width: 100%;
}

.overlay-form {
  background-color: var(--dark-grey-color);
  max-width: 25rem;
  align-items: center;
  padding: 3rem 2rem;
  gap: 3rem;
}

.overlay-form-text {
  align-items: center;
  gap: 1rem;
}

.overlay-form-text p {
  text-align: center;
  font-size: 1rem;
  padding-inline: px;
  line-height: 1.5;
  letter-spacing: 0.75px;
}

.overlay-form-text h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.overlay-form-inputs {
  gap: 2.25rem;
  width: 100%;
  align-items: center;
}

.overlay-form-inputs hr {
  width: 100%;
  margin-block: 1rem;
  border-color: #707070;
}

.overlay-form-inputs input {
  width: 85%;
}

.overlay-image img {
  height: 100%;
}

.overlay-button {
  align-self: flex-end;
  margin-right: 25px;
}

.overlay-button h6 {
  font-size: 1.25rem;
}

.overlay-button i {
  font-size: 1.25rem;
  padding-top: 2px;
  padding-left: 10px;
}

/* == RESERVATION CALENDAR */

.ui-datepicker {
  background-color: var(--dark-grey-color);
  border: 1px solid var(--primary-color);
  font-family: Montserrat-Light, sans-serif;
  color: #fff;
  z-index: 10001 !important;
}

.ui-datepicker span {
  color: #fff;
}

.ui-datepicker a {
  color: var(--primary-color);
}

.ui-datepicker-calendar span {
  color: var(--accent-color);
}

.ui-datepicker a:hover {
  color: var(--accent-color);
}

/* Previous */

.ui-icon-circle-triangle-w {
  background-color: var(--primary-color);
  -webkit-mask-image: url("../images/icons/chevron-left-solid.svg");
  mask-image: url("../images/icons/chevron-left-solid.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.ui-icon-circle-triangle-w:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Next */

.ui-icon-circle-triangle-e {
  background-color: var(--primary-color);
  -webkit-mask-image: url("../images/icons/chevron-right-solid.svg");
  mask-image: url("../images/icons/chevron-right-solid.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  height: 20px;
  width: 20px;
}

.ui-icon-circle-triangle-e:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
